.parent-container-01 {
    background-color: darkorchid;
    padding: 1em;
 }
 .child-container-01 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 7em;
    text-align: center;
    padding: 2em;
    color: #000;
    background-color: plum;
 }