.parent-container-01 {
    background-color: darkorchid;
    max-width: 300px;
    padding: 2em;
    margin: auto;
    border-width: 1em;
    border-style: outset;
    border-color: black;
 }
 .child-container-01 {
    border-width: 2em;
    border-style: solid;
    border-color: black;
    background-color: pink;
    width: 75%;
    margin: auto;
    padding: 1em;
    text-align: center;
 }
 body{
   font-family: Verdana, Arial, Tahoma;
   font-size: 12px;
 }