body{
    font-family: Georgia;
    font-style: normal;
}
.with-padding {
    padding: 2em;
 }
 .padding-example-container {
    font-size: 18pt;
    color: white;
 }
 .ex-box {
    line-height: 1.45em;
    background-color: palevioletred;
 }
 body{
   font-family: Verdana, Arial, Tahoma;
   font-size: 12px;
 }