div{
    text-align: left;
    font-family: monospace;
    font-style: normal;
    margin: 10px
}
.title{
    font-family: Permanent marker;
    font-size: 80px;
    color:darkblue;
    background-color: lightblue;
    text-align:left;
}