div{
    text-align: left;
    font-family: monospace;
    font-style: normal;
    margin: 10px
}
.title{
    font-family: Permanent marker;
    font-size: 55px;
    color:rgb(4, 4, 103);
    background-color: lightblue;
    text-align:left;
}
.element-1 {
    font-size: 20px;
    font-family: monospace;
}
a:link {
    color: blueviolet;
    text-decoration: none; 
}
a:visited {
    color: gray;
    text-decoration: none;
}
a:hover {
    color:blue;
    text-decoration: italic;
}